__pycache__/
*.pyc
*.pyo
.git/
*.md
*.bat
*.log
node_modules/
Backend/node_modules/
Backend/pb_data/
Backend/output/*.zip
Backend/output/*.xlsx
Backend/temp/*
Backend/test_output/
Frontend/node_modules/
Frontend/src/
.env
*.exe
